/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

/* Custom CSS */

@layer base {
    body {
        @apply font-body;
    }
    h1, h2, h3, h4, h5, h6 {
        @apply font-heading mb-4;
    }
    p {
        @apply mb-4;
    }
    header nav a {
        @apply border-b border-transparent hover:border-forest;
    }

}

@layer components {
    .button {
        @apply uppercase bg-clay text-cream py-2 px-5;
    }
    .button:hover {
        @apply text-cream bg-yellow-950 font-normal;
    }

    .odd {
        @apply bg-white;
    }
    .odd .wine-heading {
        @apply md:pl-[20%];
    }

    .even .wine-heading {
        @apply md:order-last md:pl-[5%] md:pr-[20%];
    }

    .odd .wine-stats{
        @apply md:pl-[5%] md:pr-[20%];
    }

    .even .wine-stats {
        @apply md:order-first md:pl-[20%];
    }

}

svg {
    stroke: #696F55;
}