<div class=" wine-filter-buttons text-center font-heading">
  <button class="py-4 px-2" data-filtervalue="all">All</button> |
  <button class="py-4 px-2" data-filtervalue="white">Whites</button> |
  <button class="py-4 px-2" data-filtervalue="red">Reds</button> |
  <button class="py-4 px-2" data-filtervalue="rose">Rose</button>
</div>

{% for item in site.data.products.wines %}

<section class="wine-option {{item.filter-values}} min-h-screen flex flex-col mb-24 alt-parent {% cycle 'odd', 'even' %}">
  <div class="grid md:grid-cols-3 grow">
    <div class=" self-center wine-heading px-[10%] py-[20%]">
      <h2 class="text-5xl">{{item.wine}}</h2>
      <p class="pb-6">{{item.info}}</p>
      <a href="{{site.data.products.button-link}}" class="button">{{item.button-text}}</a>
    </div>
    <div class="relative md:min-h-[50vh] py-12">
        <img class="object-contain h-full mx-auto " src="{{item.image}}">
    </div>
    <div class="self-center wine-stats px-[10%] py-[20%]">
      <h3 class="text-2xl font-bold mb-0">Vintage:</h3>
      <p class="font-light">{{item.vintage}}</p>
      <h3 class="text-2xl font-bold mb-0">Blend:</h3>
      <p class="font-light">{{item.blend}}</p>
      <h3 class="text-2xl font-bold mb-0">Region:</h3>
      <p class="font-light">{{item.region}}</p>
      <h3 class="text-2xl font-bold mb-0">Tasting Notes:</h3>
      <p class="font-light">{{item.taste}}</p>
    </div>
  </div>
</section>

{% endfor %}

<style>

  .odd {
    background-color: white;
  }
</style>

<script>
  const filterButtons = document.querySelectorAll('.wine-filter-buttons button');
  const wines = document.querySelectorAll('.wine-option')
  let filterShownCount = 0
  console.log(filterButtons,wines)

  function clickedbutton(){
    console.log(this.dataset.filtervalue)

  filterShownCount = 0

    wines.forEach(wine => {
      wine.classList.remove('odd')
      wine.classList.remove('even')

      if (
        this.dataset.filtervalue == 'all'
      ){
        wine.classList.remove('hidden')
      } else 
      if (
        wine.classList.contains(this.dataset.filtervalue)
      ) {
        wine.classList.remove('hidden')
      } else {
        wine.classList.add('hidden')
      }
      
      if(!wine.classList.contains('hidden') ) {
        
        filterShownCount++
        
        if ( filterShownCount %= 2 ) {
          wine.classList.add('odd')
        } else {
          wine.classList.add('even')
        }
      }
      
    })

  }

  filterButtons.forEach(button => {
    button.addEventListener('click',clickedbutton)
  })
</script>
