<section class="relative min-h-[50vh] flex flex-col">

  <img class="absolute inset-y-0 right-0  w-full h-full object-cover {% if block.image-focus == 'top' %} object-top {% elsif block.image-focus == 'bottom' %} object-bottom {% else %} object-center {% endif %}" src="{{block.image}}" alt="{{block.image-alt-text}}">

  <div class="absolute inset-y-0 right-0 w-full h-full bg-gray-800/40"></div>

  <div class="relative flex flex-col flex-grow justify-center md:max-w-[70%]">
      <div class="p-24 lg:p-44 py-10 text-cream">
          <h1 class="text-6xl font-bold self-center"><span>"</span>{{block.text}}<span>"</span></h1>
      </div>
  </div>

</section>