<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <title>{{page.title}}</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <style>

/* Do not need this root version if using schemes */
        :root{
            --clay: {{site.data.style.clay}};
            --cream: {{site.data.style.cream}};
            --olive: {{site.data.style.olive}};
            --herb: {{site.data.style.herb}};
            --sand: {{site.data.style.sand}};
            --forest: {{site.data.style.forest}};
        }

        /* Do not need this version if using simple TW variables */
        :root, {% for scheme in site.data.style.schemes %}

        .scheme-{{scheme.name}} {
            --background:{{scheme.background-color}};
            --pen:{{scheme.text-color}};
            --button-color:{{scheme.button-color}};
            --button-text:{{scheme.button-text}};
            --hover-button-color:{{scheme.hover-button-color}};
            --outline:{{scheme.border}};
        }
        {% endfor %}
    </style>

</head>

<!-- This is our fontawesome icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<!-- This is the body for the content of the page-->
<body class="bg-cream text-forest font-body">
    <!------------------------------------------------------- Header --------------------------------------------------->

    {% include /bookends/header.html %}

  {% for block in page.blocks %}
<div class="scheme-{{block.scheme}}">
  <!-- Flexibiity of using 1 block and linking back to site.data instead of page block -->
  {% if block.type == 'tours' %}
      {% assign items = site.data.experiences.tours %}
      {% assign link = site.data.experiences.more-than-link %}
  {% elsif block.type == 'team' %}
      {% assign items = site.data.team.cards %}
      {% assign link = site.data.team.more-than-link %}
  {% elsif block.type == 'membership' %}
      {% assign items = site.data.membership.cards %}
      {% assign link = site.data.membership.more-than-link %}
  <!-- keeping adding for as many types as you want -->

  {% else %}
      {% assign items = block.items %}
  {% endif %}

  {% include /blocks/{{block.id}}.html items=items link=link %}
</div>
{% endfor %}

{{content}}

<footer class="flex flex-col md:flex-row justify-between px-10 pt-10 pb-4 uppercase text-sm items-center">
    <div class="flex flex-col gap-2 md:gap-6">
        <a href="/index.html" class="text-2xl uppercase font-bold text-center md:text-left md:ml-4"> Logo</a>
        <nav class="text-center md:text-left">
        <!-- To change the color of the svg, change the stroke color -->
        <!-- Facebook SVG -->
            <a href="#" class="inline-block"> <?xml version="1.0" encoding="UTF-8"?><svg width="32px" height="32px" stroke="#696F55" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M21 8V16C21 18.7614 18.7614 21 16 21H8C5.23858 21 3 18.7614 3 16V8C3 5.23858 5.23858 3 8 3H16C18.7614 3 21 5.23858 21 8Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M11 21C11 18 11 15 11 12C11 9.8125 11.5 8 15 8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M9 13H11H15" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></a>
            <!-- Instagram SVG -->
            <a href="#" class="inline-block"> <?xml version="1.0" encoding="UTF-8"?><svg width="32px" height="32px" stroke="#696F55" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3 16V8C3 5.23858 5.23858 3 8 3H16C18.7614 3 21 5.23858 21 8V16C21 18.7614 18.7614 21 16 21H8C5.23858 21 3 18.7614 3 16Z" stroke-width="1.5"></path><path d="M17.5 6.51L17.51 6.49889" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></a>
            <!-- TikTok SVG -->
            <a href="#" class="inline-block"> <?xml version="1.0" encoding="UTF-8"?><svg width="32px" height="32px" stroke="#696F55" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M21 8V16C21 18.7614 18.7614 21 16 21H8C5.23858 21 3 18.7614 3 16V8C3 5.23858 5.23858 3 8 3H16C18.7614 3 21 5.23858 21 8Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M10 12C8.34315 12 7 13.3431 7 15C7 16.6569 8.34315 18 10 18C11.6569 18 13 16.6569 13 15V6C13.3333 7 14.6 9 17 9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></a>
        </nav>
    </div>
    <div class="self-center py-4 md:gap-1 lg:gap-4 grid sm:grid-cols-2 lg:grid-cols-3 xl:flex text-center">
        <a href="/products.html" class="inline-block p-1 border-transparent border-b hover:drop-shadow-md xl:hover:font-normal xl:hover:border-forest">Our Wines</a>
        <a href="/visit.html" class="inline-block p-1 border-transparent border-b hover:drop-shadow-md xl:hover:font-normal xl:hover:border-forest">Visit Us</a>
        <a href="/about.html" class="inline-block p-1 border-transparent border-b hover:drop-shadow-md xl:hover:font-normal xl:hover:border-forest">Our Story</a>
        <a href="/contact.html" class="inline-block p-1 border-transparent border-b hover:drop-shadow-md xl:hover:font-normal xl:hover:border-forest">Membership</a>
        <a href="#" class="inline-block p-1 border-transparent border-b hover:drop-shadow-md xl:hover:font-normal xl:hover:border-forest">Terms of Service</a>
        <a href="#" class="inline-block p-1 border-transparent border-b hover:drop-shadow-md xl:hover:font-normal xl:hover:border-forest">Privacy Policy</a>
    </div>
    <div>
        <p class="font-heading text-center md:text-right">Subscribe to our newsletter</p>
        <form class="flex flex-col">
          <label class="uppercase sr-only" for="_replyto"> Email </label>
          <input class="border-2 border-cream bg-rust focus:border-yellow-950 outline-none py-1 px-2 placeholder:text-white placeholder:opacity-30" type="email" name="_replyto" id="_replyto" placeholder="Email" />
          <div class="text-center md:text-right">
              <button class="bg-forest text-cream px-5 py-1 text-sm uppercase hover:bg-sand hover:text-cream my-4" type="submit">Subscribe</button>
          </div>
          </form> 
        
      </div>
</footer>

</body>

</html>

